#!/usr/bin/env python
# coding=utf-8


from .release import Config as ConfigBase


class Config(ConfigBase):
    # database
    ConfigBase.SQLALCHEMY_DATABASE['HOST'] = 'host.docker.internal'
    ConfigBase.SQLALCHEMY_DATABASE['NAME'] = 'rpress_0_x'
    ConfigBase.SQLALCHEMY_DATABASE['USER'] = 'username'
    ConfigBase.SQLALCHEMY_DATABASE['PASSWORD'] = 'password'

    # Session/Cookie/Flask-Login
    SECRET_KEY = "secret_key_change_it"

    # Sentry
    ConfigBase.SENTRY_CONFIG['DSN'] = 'https://xxx:xxx@sentry.io/123'
