$base-page-blank-width: 16px;

.highlight {
    border: 1px solid #c6c6c6;
    margin: 0;
    padding: 2px 10px;
    font-size: 0.9em;
    overflow: auto;

    @import "../../../static/pygments/pastis";

    background: #efefef;
}
