{% extends theme('/rp/layout.html') %}
{% block body %}
<div id="login" class="row">
  <div class="col-sm-4 col-center">
  <div class="box">
    <h2><em>r</em>Press</h2>

    <form method="POST" action="{{ url_for('permission.login') }}">
      {{ form.csrf_token }}
      <fieldset class="form-group">
        {{ form.username.label }}<br>{{ form.username }}
      </fieldset>
      <fieldset class="form-group">
        {{ form.password.label }}<br>{{ form.password }}
      </fieldset>
      {{ form.submit }}
    </form>
    </div>
  </div>
</div>
{% endblock %}