{% extends theme('/rp/layout.html') %}
{% block body %}
<div id="login" class="row">
  <div class="form-login">
    <h1><em>r</em>Press</h1>

    <form method="POST" action="{{ url_for('auth.login') }}">
      <div class="form-input">
        {{ form.csrf_token }}
        <!--<fieldset class="form-group">-->
        <!--{{ form.username.label }}-->
        {{ form.username }}
        <!--</fieldset>-->
        <!--<fieldset class="form-group">-->
        <!--{{ form.password.label }}-->
        {{ form.password }}
        <!--</fieldset>-->
      </div>

      <div>{{ form.submit }}</div>
    </form>

    <p class="footer" align="right">power by rPress.</p>
  </div>
</div>
{% endblock %}
