<div class="post-metabar">
  <em>
    <span>by</span>
    <span class="stress">
      <a rel="author" title="由{{ post.author }}发布"
         href="{{ url_for('post_page.paginate_with_author', author=post.author) }}">{{ post.author }}</a>
    </span>
    <span>on</span>
    <span class="stress" title="{{ post.published_time }}">{{ post.published_time|datetime2str_short }}</span> ·
    <span class="stress">{% for category in post.categorys %}<a
        href="{{ url_for('post_page.paginate_with_term_category', term=category) }}"> #{{ category }}</a>{% endfor %}</span>
    <span>{% for tag in post.tags %}<a
        href="{{ url_for('post_page.paginate_with_term_tag', term=tag) }}"> #{{ tag }}</a>{% endfor %}</span>
    <span class="stress">
    {% if post.author_id==user.id %}
      <a href="{{ url_for('rpadmin_post.edit', post_id=post.id) }}">[EDIT]</a>
    {% endif %}
    </span>
  </em>
</div>
