{% extends theme('/common/layout.html') %}

{% block head %}{{ super() }}
<link rel=stylesheet type=text/css href="{{ theme_static('style.css') }}">
{% endblock %}

{% block title %} | {{ site.settings.title }}{% endblock %}

{% block body %}
<div class="fill-fullpage-wrapper">
  <div id="header" class="container padding0">{% block header %}{% include theme('_header.html') %}{% endblock %}</div>

  <div id="navigation" class="container padding0">{% block navigation %}{% include theme('_navigation.html') %}{% endblock %}</div>

  <div id="carousel" class="container padding0">{% block carousel %}{% endblock %}</div>

  <div id="content" class="container padding0">{% block content %}{% endblock %}</div>
</div>

{% block footer %}{% include theme('_footer.html') %}{% endblock %}
{% endblock %}

{% block js %}{{ super() }}
{% include theme('/front/_google_analytics.html') %}
{% endblock %}
