<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% block head %}
  <link rel="shortcut icon" href="/static/rpress-icon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- rPress -->
  <link rel=stylesheet type=text/css href="{{ theme_static('style.css') }}">
  {% endblock %}

  <title>{% block title %}| {{ site.settings.title }}{% endblock %}</title>
</head>
<body>
{% block body %}
<div class="fill-fullpage-wrapper">
  <div id="header" class="container padding0">{% block header %}{% include theme('_header.html') %}{% endblock %}</div>
  <div id="navigation" class="container padding0">
    {% block navigation %}{% include theme('_navigation.html') %}{% endblock %}
  </div>
  <div id="carousel" class="container padding0">{% block carousel %}{% endblock %}</div>
  <div id="content" class="container padding0">{% block content %}{% endblock %}</div>
</div>

{% block footer %}{% include theme('_footer.html') %}{% endblock %}
{% endblock %}
{% block js %}
<!-- jQuery first, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% include theme('/front/_google_analytics.html') %}
{% endblock %}
</body>
</html>
