<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% block head %}
  <link rel="shortcut icon" href="/static/rpress-icon.png">
  <!-- Bootstrap CSS -->
  {#<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">#}
  <link rel="stylesheet" href="/static/bootstrap.css">
  {% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  {% block body %}{% endblock %}

  {% block js %}
  <!-- jQuery first, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  {% endblock %}
</body>

</html>
