{% extends theme('/rpadmin/layout.html') %}
{% block body %}
<div class="row">
  <div id="login" class="col-sm-3 col-center">
    <div><h2>rPress</h2></div>

    <form method="POST" action="{{ url_for('permission.login') }}">
      {{ form.csrf_token }}
      <fieldset class="form-group">
        {{ form.username.label }} {{ form.username }}
      </fieldset>
      <fieldset class="form-group">
        {{ form.password.label }} {{ form.password }}
      </fieldset>
      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}