{% extends theme('rpadmin_layout.html') %}
{% block content %}
<table class="table">
    {#<caption>table title and/or explanatory text</caption>#}
    <thead>
        <tr>
            <th>status</th>
            <th>title</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td><a href="/rpadmin/post/{{ post.uuid }}/publish/turn">{{ post.publish_ext }}</a></td>
            <td><a href="/rpadmin/post/{{ post.uuid }}/edit">{{ post.title }}</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}