{% extends theme('layout.html') %}

{% block head %}{{ super() }}
<link rel=stylesheet type=text/css href="{{ theme_static('style.css') }}">
{% endblock %}

{% block title %}admin - rPress{% endblock %}

{% block body %}
  <div class="container-fluid">
    {% block header %}
      <div><h1>rPress</h1></div>
    {% endblock %}

    {% block navigation %}{% include theme('_rpadmin_navigation.html') %}{% endblock %}
    <hr>

    {% block content %}{% endblock %}
  </div>
  {% block footer %}{% include theme('_rpadmin_footer.html') %}{% endblock %}
{% endblock %}
