{% extends theme('/rpadmin/layout.html') %}
{% block content %}
<ul>
  <li><a href="{{ url_for('post.post_uuid', uuid=post.uuid ) }}">查看文章</a></li>
  <li>publish state:{{ post.publish_state }}</li>
  {% for action in publish_actions %}
  <li><a href="/rpadmin/post/{{ post.uuid }}/publish/{{ action }}">{{ action }}</a></li>
  {% endfor %}
</ul>

<form method="POST" action="{{ url_for('rpadmin.post_edit', uuid=post.uuid) }}">
  {{ form.csrf_token }}
  <div>
    {{ form.title.label }}: {{ form.title }}
  </div>
  <div>
    {{ form.name.label }}: {{ form.name }}
  </div>
  <div>
    {{ form.content.label }}: {{ form.content(rows=15, cols=120) }}
  </div>
  {{ form.submit }}
</form>
{% endblock %}
