{% extends theme('/rpadmin/layout.html') %}
{% block content %}
<a href="{{ url_for('rpadmin.post_new', type=post_type) }}">New post</a>

<table class="table">
  {#
  <caption>table title and/or explanatory text</caption>
  #}
  <thead>
    <tr>
      <th>status</th>
      <th>publish date</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.publish_state }}</td>
      <td>{{ post.publish_date }}</td>
      <td><a href="{{ url_for('rpadmin.post_edit', uuid=post.uuid) }}">{{ post.title }}</a></td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
