{% extends theme('/rpadmin/layout.html') %}

{% block contentnav %}
<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" href="{{ url_for('rpadmin.profiles_password') }}">Change Password</a></li>
</ul>
{% endblock %}

{% block contentmain %}
<form method="POST" action="{{ url_for('rpadmin.profiles') }}">
  {{ form.csrf_token }}
  <div>
    {{ form.email.label }}: {{ form.email }}
  </div>
  <div>
    {{ form.display.label }}: {{ form.display }}
  </div>
  {{ form.submit }}
</form>
{% endblock %}
