{% extends theme('/rp/layout.html') %}

{% block contentnav %}
<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" href="{{ url_for('rpadmin.post_new', type=post_type) }}">New post</a>
</ul>
{% endblock %}

{% block contentmain %}
<table class="table">
  {#
  <caption>table title and/or explanatory text</caption>
  #}
  <thead>
    <tr>
      <th>name</th>
      <th>desc</th>
    </tr>
  </thead>
  <tbody>
    {% for term in terms %}
    <tr>
      <td><a href="{{ url_for('rpadmin.term_edit', name=term.name) }}">{{ term.name }}</a></td>
      <td>{{ term.desc }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
