<div>
  {% for post in content.post_roll %}
  <div class="post-summary-box">
    <div class="post-summary-content">
      <div class="post-title-box">
        <div class="post-title">
          <h2><a rel="bookmark" title="{{ post.title }}" href="{{ post.link }}">{{ post.title }}</a></h2>
        </div>
        <div class="post-metabar">
          <em>
            <span>by</span>
            <span class="stress">
              <a rel="author" title="由{{ post.author }}发布" href="{{ url_for('post.post_author', author=post.author) }}">{{ post.author }}</a>
            </span>
            <span>on</span>
            <span class="stress" title="{{ post.create_date }}">{{ post.create_date|datetime2str_short }}</span> ·
            <span class="stress">
              <a href="http://rex.zhang.name/2014/11/987/#comments">Leave a Comment</a>
            </span>
          </em>
        </div>
        <div class="post-excerpt">{{ post.excerpt|codeblock|safe }}</div>
      </div>
      <a class="continue_reading_link" title="查看 <<{{ post.title }}>> 全文" href="{{ post.link }}"> Continue Reading →</a>
    </div>
  </div>
  {% endfor %}
</div>
