<div id="one-word" class="container-fluid">“Stay hungry, Stay foolish.”</div>

<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4>Pages</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/guestbook">GuestBook</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h4>Update</h4>
      </div>

      <div class="col-sm-3">
        <h4>More</h4>
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>

      <div class="col-sm-3" text-align="right">
        <h3 class="site-title"><a href="http://rex.zhang.name"> Rex.Zhang.name </a></h3>
        <div class="terms"> © 2015 Rex Zhang, power by <a href="https://github.com/rexzhang/rpress" target="_blank">rPress</a>. </div>
      </div>
    </div>
  </div>
</div>
