<div id="footer" class="container-fluid">
  <div class="container">
    <dev class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3 dcol-pad">
        <h3 class="widget-title">Pages</h3>
        <div class="footer-links list-links">
          <ul>
            <li class="page_item page-item-187">
              <a href="/about">About</a>
            </li>
            <li class="page_item page-item-447">
              <a href="/guestbook">GuestBook</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3" text-align="right">
        <div>
          <h3 class="site-title"><a href="http://rex.zhang.name"> Rex.Zhang.name </a></h3>
        </div>
        <div class="terms"> © 2015 Rex Zhang, power by rPress. </div>
      </div>
    </dev>
  </div>
</div>
