<div class="row margin0">
  <ul class="nav-mainmenu col-sm-9">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/guestbook">GuestBook</a>
    </li>
  </ul>
  <form class="searchform col-sm-3 padding0" onsubmit="this.submit();return false;" action="http://rex.zhang.name/" method="get">
    <fieldset>
    <div class="input-group" width="100px">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    {#<span class="glyphicon glyphicon-search" aria-hidden="true"></span>#}
    </fieldset>
  </form>
</div>
