<div>
  {% for post in content.post_roll %}
  <div class="post-summary-box">
    <div class="post-summary-content">
      <div class="post-title-box">
        <div class="post-title">
          <h3><a rel="bookmark" title="{{ post.title }}" href="{{ post.link }}">{{ post.title }}</a></h3>
        </div>
        {% include theme('_post_metabar.html') %}
        <div class="post-excerpt">{{ post.excerpt|codeblock|safe }}</div>
      </div>
      <a class="continue_reading_link" title="查看 <<{{ post.title }}>> 全文" href="{{ post.link }}"> Continue Reading →</a>
    </div>
  </div>
  {% endfor %}
</div>
