<div class="post-metabar">
  <em>
    <span>by</span>
    <span class="stress">
      <a rel="author" title="由{{ post.author }}发布" href="{{ url_for('post.post_author', author=post.author) }}">{{ post.author }}</a>
    </span>
    <span>on</span>
    <span class="stress" title="{{ post.create_date }}">{{ post.create_date|datetime2str_short }}</span> ·
    <span class="stress">
    {% if post.author_id==user.id %}
      <a href="{{ url_for('rpadmin.post_edit', uuid=post.uuid) }}">[EDIT]</a>
    {% endif %}
    </span>
  </em>
</div>