<div>
  <div class="post-summary-box">
    <div class="post-summary-content">
      <div class="post-title-box">
        <div class="post-title">
          <h2 class="entry-title"><a rel="bookmark" title="在 pyhton 类范围内使用装饰符" href="http://rex.zhang.name/2014/11/987/">在 pyhton 类范围内使用装饰符</a></h2>
          <div class="post-metabar">
            <em>
              <span class="sword">By</span>
              <span class="author vcard">
                <span class="fn">
                  <a rel="author" title="由rex发布" href="http://rex.zhang.name/author/rex/">rex</a>
                </span>
              </span>
              <span class="sword">On</span>
              <span class="date time published" title="2014-11-16T18:28:27+0800">2014-11-16</span> ·
              <span class="post-comments">
                <a href="http://rex.zhang.name/2014/11/987/#comments">Leave a Comment</a>
              </span>
            </em>
          </div>
        </div>
      </div>
      <div class="post-excerpt">
        <p>装饰符函数的传入变量为：使用装饰符的函数（目标函数）。其本质是：在调用目标函数之前，插入调用装饰符函数，然后由装饰符函数调用目标函数。</p>
        <p>使用的优势：</p>
        <p> 剥离高度重复，同时又需要共享变量（一般是局部变量，如果扩展变量作用域会引发更多麻烦）的代码 便于函数扩展行为切换 将一些通用行为（代码片段）做成装饰符方便使用和在需求发生变化时随时移除 </p>
        <p>网上装饰符的文章很多，但是在类范围内使用的很少；所以范例代码如下：</p>
      </div>
      <a class="continue_reading_link" title="View 在 pyhton 类范围内使用装饰符" href="http://rex.zhang.name/2014/11/987/">
        Continue Reading
        <span class="right_arrow">→</span>
      </a>
    </div>
  </div>
</div>
<div class="post-summary-box">
  <div class="post-summary-content">
    <div class="post-title-box">
      <div class="post-title-section">
        <div class="post-title">
          <h2 class="entry-title">
            <a rel="bookmark" title="convert python datetime unix timestamp" href="http://rex.zhang.name/2014/11/984/">convert python datetime unix timestamp</a>
            </h2>
          <div class="post-metabar">
            <em>
              <span class="sword">By</span>
              <span class="author vcard">
                <span class="fn">
                  <a rel="author" title="由rex发布" href="http://rex.zhang.name/author/rex/">rex</a>
                </span>
              </span>
              <span class="sword">On</span>
              <span class="date time published" title="2014-11-10T18:35:08+0800">2014-11-10</span> ·
              <span class="post-comments">
                <a href="http://rex.zhang.name/2014/11/984/#comments">1 Comment</a>
              </span>
            </em>
          </div>
        </div>
      </div>
      <div class="post-excerpt">
        <p>代码</p>
        <p>输出</p>
        <p>另外， unix timestamp -> python 还有 datetime.utcfromtimestamp() date.fromtimestamp() 函数可用</p>
        <p>参考</p>
        <p> http://ruslanspivak.com/2011/07/20/how-to-convert-python-utc-datetime-object-to-unix-timestamp/ http://timanovsky.wordpress.com/2009/04/09/get-unix-timestamp-in-java-python-erlang/ </p>
        <p>Update</p>
        <p> 20141215 增加 time2timestamp() 20150128 增加 datetime -> utc timestamp</p>
      </div>
      <a class="continue_reading_link" title="View convert python datetime unix timestamp" href="http://rex.zhang.name/2014/11/984/">
        Continue Reading
        <span class="right_arrow">→</span>
      </a>
    </div>
  </div>
</div>
