{% extends theme('theme_layout.html') %}
{% block head %}{{ super() }}{% endblock %}

{% block carousel %}
{% include theme('_carousel.html') %}
{% endblock %}

{% block content %}
<div id="content" class="container">
  <div class="row">
    <div id="post-roll" class="col-sm-8">
      {% include theme('_blog_roll.html') %}
      <div id=pagination>
        <span class="previous-entries">
                <a href="http://rex.zhang.name/page/2/">← Previous Entries</a>
            </span>
        <span class="next-entries"></span>
      </div>
    </div>
    <div id="sidebar" class="col-sm-4"> {% include theme('_sidebar.html') %}</div>
  </div>
</div>
{% endblock %}
