{% extends theme('layout.html') %}
{% block head %}{{ super() }}{% endblock %}

{% block header %}
{% include theme('header.html') %}
{% endblock %}

{% block navigation %}
{% include theme('navigation.html') %}
{% endblock %}

{% block carousel %}
{% include theme('carousel.html') %}
{% endblock %}

{% block content %}
<div class="post-summary-box">
  <div class="post-summary-content">
    <div class="post-title-box">
      <div class="post-title">
        <h2>{{ content.post.title }}</h2>
      </div>
      <div class="post-metabar">
        <em>
          <span>by</span>
          <span class="stress">
            <a rel="author" title="由{{ content.post.author }}发布" href="/author/{{ content.post.author }}">{{ content.post.author }}</a>
          </span>
          <span>on</span>
          <span class="stress" title="{{ content.post.create_date }}">{{ content.post.create_date|datetime_short }}</span> ·
          <span class="stress">
            <a href="http://rex.zhang.name/2014/11/987/#comments">Leave a Comment</a>
          </span>
        </em>
      </div>
      <div class="post-content">{{ content.post.content }}</div>
    </div>
    <a class="continue_reading_link" title="查看 <<{{ content.post.title }}>> 全文" href="{{ content.post.link }}"> Continue Reading →</a>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include theme('footer.html') %}
{% endblock %}