{#
<div id="recent-comment" class="widget">
  <h3>近期评论</h3>
  <div>
    <ul>
      <li>
        <span class="comment-author-link">alan</span>发表在《<a href="http://rex.zhang.name/2014/11/984/#comment-50">convert python datetime unix timestamp</a>》
      </li>
      <li>
        <span class="comment-author-link">Jessie</span>发表在《<a href="http://rex.zhang.name/2011/06/540/#comment-47">Django flup lighttpd 环境下使用 FastCGI 和 WSGI</a>》
      </li>
      <li>
        <span class="comment-author-link">xxd</span> 发表在《
        <a href="http://rex.zhang.name/2012/03/670/#comment-49">Linux 命令行环境使用 hg commit 所需要做的设置</a> 》
      </li>
      <li>
        <span class="comment-author-link"></span> 发表在《
        <a href="http://rex.zhang.name/2011/10/596/#comment-48">调整VirtualBox的VDI硬盘文件大小</a> 》
      </li>
      <li>
        <span class="comment-author-link"></span> 发表在《
        <a href="http://rex.zhang.name/guestbook/#comment-3">GuestBook</a> 》
      </li>
    </ul>
  </div>
</div>
#}

<div id=tags class="widget">
  <h3>标签</h3>
  <div>
    {% for tag in content.widgets.tags %}
    <a style="font-size: 8pt;" title="{{ tag.desc }}" href="{{ tag.link }}">{{ tag.display }}</a>
    {% endfor %}
  </div>
</div>

<div id=category class="widget">
  <h3>分类</h3>
  <div>
    <ul>
      {% for category in content.widgets.categories %}
      <li><a title="{{ category.desc }}" href="{{ category.link }}">{{ category.display }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id=function class="widget">
  <h3>功能</h3>
  <div>
    <ul>
      <li>
        <a href="/login">登录</a>
      </li>
      <li>
        <a title="基于 rPress" href="https://github.com/rexzhang/rpress">rPress</a>
      </li>
    </ul>
  </div>
</div>

<div id=accccc class="widget">
  <h3>归档</h3>
  <div>
    <ul>
    {% for _, year in content.widgets.date_years|dictsort|reverse %}
      <li>
        <a href="{{ year.link }}">{{ year.display }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
