{% extends theme('/rpadmin/layout.html') %}

{% block navbar_sub %}
<!-- SubNavbar -->
<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" href="{{ url_for('rpadmin_post.list', post_type=post_type) }}">List</a>
    <a class="nav-link" href="{{ url_for('rpadmin_post.new', post_type=post_type) }}">New</a>
  </nav>
</div>
{% endblock %}

{% block content %}
<div class="accordion" id="accordionExample">
  {% for publish_status in content %}
  <div class="card border-0">
    <div class="card-header rounded" id="heading_{{ publish_status }}">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ publish_status }}"
                aria-expanded="true" aria-controls="collapse_{{ publish_status }}">
          {{ publish_status }} <span class="badge badge-secondary">{{ content[publish_status]['count'] }}</span>
        </button>
      </h5>
    </div>

    <div id="collapse_{{ publish_status }}"
         class="collapse {% if publish_status=='draft' or publish_status=='unpublished' %}show{% endif %}"
         aria-labelledby="heading_{{ publish_status }}" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>last published date</th>
            <th>last updated date</th>
            <th>title</th>
          </tr>
          </thead>
          <tbody>
          {% for post in content[publish_status]['list'] %}
          <tr>
            <td>{{ post.published_time|datetime_long }}</td>
            <td>{{ post.updated_time|datetime_long }}</td>
            <td><a href="{{ url_for('rpadmin_post.edit', post_id=post.id) }}">{{ post.title }}</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
