{% extends theme('/rp/layout.html') %}

{% block contentnav %}
<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" href="{{ url_for('post_page.one_with_id', post_id=post.id ) }}">查看文章</a></li>
  <li class="nav-item"><a class="nav-link disabled">publish state:{{ post.publish_status }}</a></li>
  {% for triggers in publish_triggers %}
  <li class="nav-item"><a class="nav-link"
                          href="{{ url_for('site_admin.post_publish_state', post_id=post.id, trigger=triggers) }}">{{
    triggers }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block contentmain %}
<form method="POST" action="{{ url_for('site_admin.post_edit', post_id=post.id) }}">
  {{ form.csrf_token }}
  <div>
    {{ form.title.label }}: {{ form.title }}
  </div>
  <div>
    {{ form.name.label }}: {{ form.name }}
  </div>
  <div>
    {{ form.content(rows=15, cols=120) }}
  </div>
  {{ form.submit }}
</form>
</div>
{% endblock %}
