{% extends theme('/rp/layout.html') %}

{% block contentnav %}
<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" href="{{ url_for('site_admin.post_new', post_type=post_type) }}">New post</a>
</ul>
{% endblock %}

{% block contentmain %}
<table class="table">
  {#
  <caption>table title and/or explanatory text</caption>
  #}
  <thead>
    <tr>
      <th>status</th>
      <th>publish date</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.publish_status }}</td>
      <td>{{ post.published_time }}</td>
      <td><a href="{{ url_for('site_admin.post_edit', post_id=post.id) }}">{{ post.title }}</a></td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
