// import rPress common css define
@import "../common";

//------------------------------------------------------
// header
#header {
  margin: 1em;
}

//------------------------------------------------------
// content

#content-nav {
  margin-bottom: 1.5em;
}

#content-main {
}

//------------------------------------------------------
// footer
#footer {
  margin: 1em;

  .box {
    border-top: 1px solid $color-silver;
    text-align: right;
    color: $color-gray;

    a {
      color: $color-gray-dark;
    }
  }
}

//------------------------------------------------------
//for fill full page
$fill-fullpage-footer-height: 10em; //!!!!!!! :todo

//for fill full page
.fill-fullpage-wrapper {
  min-height: 100%;

  /* the bottom margin is the negative value of the footer's height */
  margin: 0 (auto - $fill-fullpage-footer-height);
}

.margin0 {
  margin: 0;
}

.padding0 {
  padding: 0;
}

.col-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

#message-flash {
  margin: 1em;

  li {
    border: 1px solid $color-silver;
  }
}
