// import rPress common css define
@import "../common";

//------------------------------------------------------
// header
#header {
    margin: 1em;
}

//------------------------------------------------------
// content

#content-nav {
    margin-bottom: 1.5em;
}

#content-main {}

//------------------------------------------------------
// footer
#footer {
    margin: 1em;

    .box {
        border-top: 1px solid $color-silver;
        text-align: right;
        color: $color-gray;

        a {
            color: $color-gray-dark;
        }
    }
}

//------------------------------------------------------
// login
#login {
    min-height: 100%;
    background-color: $color-silver;

    h2 {
        margin-bottom: 1em;
        text-align: center;
        color: $color-gray;
    }

    em {
        color: $color-gray-dark;
    }

    .box {
        margin-top: 8em;
        padding: 3em;
        background-color: $color-white;
        box-shadow: 0 0 1em $color-gray;
    }
}