<div>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="{{ url_for('rpadmin_profile.edit') }}">Profiles</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('multi_site_admin.index') }}">MultiSite</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('site_admin.settings') }}">Settings</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('site_admin.post_list', post_type='blog') }}">Blogs</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('site_admin.post_list', post_type='page') }}">Pages</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('site_admin.term_list', term_type='category') }}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('site_admin.term_list', term_type='tag') }}">Tags</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('site_tools.index') }}">Tools</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
  </ul>
</div>
