{% extends theme('/common/layout.html') %}

{% block head %}{{ super() }}
<link rel=stylesheet type=text/css href="/static/rp/style.css">
{% endblock %}

{% block title %}rPress Admin | {{ site.settings.title }}{% endblock %}

<div class="container-fluid">{% include theme('/rp/_message_flash.html') %}</div>

{% block body %}
<div class="container-fluid">
  {% block header %}{% include theme('/rp/_header.html') %}{% endblock %}

  {% block navigation %}{% include theme('/rp/_navigation.html') %}{% endblock %}

  {% block content %}
  <div id="content-nav" class="container-fluid">{% block contentnav %}{% endblock %}</div>
  <div id="content-main" class="container-fluid">{% block contentmain %}{% endblock %}</div>
  {% endblock %}
</div>

{% block footer %}{% include theme('/rp/_footer.html') %}{% endblock %}
{% endblock %}
